*
{
    font-family: 'Prata', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #F3FDFE;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* heading section */
.heading
{
    text-align: center;
}
.heading h1
{
    color: #0b6c75;
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 4px;
    line-height: 1.45;
}

.box
{
    background: linear-gradient(#b9f1f7, #e2fafd) fixed;
    border-radius: 5px;
    margin: 20px auto;
    width: 700px;
    height: 300px;
    padding: 20px;
}
.contents .quote
{
    text-align: center;
    color: #0b6c75;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.48;
    quotes: none;
}

.author
{   text-align: center;
    color: #0b6c75;
    font-style: italic;
    line-height: 1.3;
    margin-top: -80px;
}
.buttons
{
    display: flex;
    justify-content: flex-end;
    margin-top: -60px;
    margin-right: 10px; 
}
.btnNew
{
    text-align: center;
    margin-top: 90px;
}
.btnNew button
{
    background: rgb(13, 129, 140);
    border: 0;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    line-height: normal;
    padding: 10px 14px;
    width: auto;
}
.btnNew button.loading
{
    opacity: 0.7;
    pointer-events: none;
}
.btnNew button:hover
{
    background: rgba(13, 129, 140,0.9);
}
.buttons button
{
    margin: 0px 5px;
}
.buttons .tweeter{
    background: rgba(27, 149, 224,1);
    border-radius: 4px;
    color: #fff;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 8px 10px;
    outline: none;
    border: none;
    cursor: pointer;
    
}
.buttons .speak,.buttons .copy
{
    background: rgba(27, 149, 224,1);
    border-radius: 4px;
    color: #fff;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 8px 27px;
    outline: none;
    border: none;
    cursor: pointer;
}
.buttons button:hover
{
    background: rgba(27, 149, 224,0.9);
}

/* snackbar */

#snackbar {
    visibility: hidden;
    width: 110px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    font-size: 12px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/* footer */
.footer
{
    background: linear-gradient(to right, #bef4f9, #e8fbfd) fixed;
    bottom: 0;
    font-size: .8rem;
    left: 0;
    letter-spacing: 2px;
    padding: 14px 0;
    position: absolute;
    right: 0;
    width: 100%;
    text-align: center;
}
.footer a
{
    color: #0b6c75;
    text-decoration: none;
}
.footer a:hover
{
    text-decoration: underline;
}


/* Responsive */
@media(max-width:710px)
{
    .box
    {
        width:95% ;
    }
}